<div class="navbar">
  <div class="dropdown navbar-item">
    <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
    <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu ">
      <li>
        <%= link_to "Oils", product_path("cbd_oils"), class: "navbar-hd-item navbar-hd-link yellow-hover" %>
      </li>
      <li>
        <%= link_to "Balms", product_path("cbd_balms"), class: "navbar-hd-item navbar-hd-link yellow-hover" %>
      </li>
      <li>
        <%= link_to "Capsules", product_path("cbd_capsules"), class: "navbar-hd-item navbar-hd-link yellow-hover" %>
      </li>
      <li role="separator" class="divider"></li>
      <li>
        <%= link_to "Our story", about_path, class: "navbar-hd-item navbar-hd-link yellow-hover" %>
      </li>
      <li>
        <%= link_to "Learn more", education_path, class: "navbar-hd-item navbar-hd-link yellow-hover" %>
      </li>
      <li><% if current_user&.admin? %>
        <%= link_to "Admin", admin_root_path, class: "navbar-hd-item navbar-hd-link yellow-hover" %>
      <% end %></li>
    </ul>
  </div>
  <div class="title">
    <%= link_to root_path do %>
      <h1>fourfive cbd</h1>
    <% end %>
  </div>
  <div class="shopping-bag">
    <% if @cart %>
      <%= link_to cart_path(@cart), class: "navbar-item navbar-link" do %>
        <%= image_tag "shopping-bag.png", width: 24, height: 30, crop: :scale, quality: "auto:best", fetch_format: :auto, alt: "shopping-bag" %>
        <div class="link" id="basket-count<%= @cart.count < 10 ? "" : "-double-digit" %>" >
          <%= @cart.count %>
        </div>
      <% end %>
    <% else %>
      <%= image_tag "shopping-bag.png", width: 24, height: 30, crop: :scale, quality: "auto:best", fetch_format: :auto, alt: "shopping-bag" %>
    <% end %>
  </div>
</div>
<div class="stripe-gap <%= @disable_top_margin ? "margin-bottom-7" : "margin-bottom-40"  %>">
  <div class="yellow-thin-stripe"></div>
  <div class="white-thin-stripe"></div>
  <div class="yellow-thin-stripe"></div>
</div>
