<div class="navbar">
  <div class="dropdown">
    <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
    <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
      <li>
        <%= link_to "Oils", product_path(Product.find(5)), class: "navbar-hd-item navbar-hd-link yellow-hover" %>
      </li>
      <li>
        <%= link_to "Balms", product_path(Product.find(2)), class: "navbar-hd-item navbar-hd-link yellow-hover" %>
      </li>
      <li>
        <%= link_to "Capsules", product_path(Product.find(1)), class: "navbar-hd-item navbar-hd-link yellow-hover" %>
      </li>
      <li role="separator" class="divider"></li>
      <li>
        <%= link_to "Our story", about_path, class: "navbar-hd-item navbar-hd-link yellow-hover" %>
      </li>
      <li>
        <%= link_to "Learn more", education_path, class: "navbar-hd-item navbar-hd-link yellow-hover" %>
      </li>
      <li><% if current_user&.admin? %>
        <%= link_to "Admin", admin_root_path, class: "navbar-hd-item navbar-hd-link yellow-hover" %>
      <% end %></li>
      <li>
      <% if false %>
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <%= link_to "Admin", admin_root_path, class: "navbar-hd-item navbar-hd-link yellow-hover" %>
        <% end %>
        <%= link_to t(".sign_out", default: "Logout"), destroy_user_session_path, method: :delete,  class: "navbar-hd-item navbar-hd-link" %>
      <% else %>
        <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-hd-item navbar-hd-link" %>
      <% end %>
      <% end %>
      </li>
    </ul>
  </div>
  <div class="title">
    <%= link_to root_path do %>
      <h1 style="margin-top:10px; font-size: 36px">fourfive cbd</h1>
    <% end %>
  </div>
  <div class="shopping-bag">
    <% if @cart %>
      <%= link_to cart_path(@cart), class: "navbar-item navbar-link" do %>
        <%= image_tag "shopping-bag.png", size: "24x30"  %>
      <% end %>
    <% else %>
      <%= image_tag "shopping-bag.png", size: "24x30" %>
    <% end %>
    <div id=<%= @cart.count < 10 ? "basket-count" : "basket-count-double-digit"%> ><%= @cart.count %></div>
  </div>
</div>
<div class="stripe-gap <%= @disable_top_margin ? "margin-bottom-7" : "margin-bottom-80"  %>">
  <div class="yellow-thin-stripe"></div>
  <div class="white-thin-stripe"></div>
  <div class="yellow-thin-stripe"></div>
</div>
