<div class="navbar">
  <div class="dropdown">
    <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
    <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
      <% if false %>
      <li>
        <%= link_to "Our products", products_path, class: "navbar-hd-item navbar-hd-link yellow-hover" %>
      </li>
      <% end %>
      <li>
        <%= link_to "Our story", about_path, class: "navbar-hd-item navbar-hd-link yellow-hover" %>
      </li>
      <li>
        <%= link_to "Learn more", education_path, class: "navbar-hd-item navbar-hd-link yellow-hover" %>
      </li>

            <li>
      <% if user_signed_in? %>
        <%= link_to t(".sign_out", default: "Logout"), destroy_user_session_path, method: :delete,  class: "navbar-hd-item navbar-hd-link" %>
        <% else %>
          <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-hd-item navbar-hd-link" %>
        <% end %>
      </li>
    </ul>
  </div>
  <div class="title">
    <%= link_to root_path do %>
      <h1>fourfive cbd</h1>
    <% end %>
  </div>
  <% if @cart %>
      <%= link_to new_cart_payment_path(@cart), class: "navbar-item navbar-link" do %>
      <i class="fa fa-shopping-cart fa-lg"></i>
      <!-- This is old (version four). If you want to upgrade, put 'fas' and use the cdn. Gem not out yet -->
      <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"> -->
      <% end %>
    <% end %>
</div>
<div class="stripe-gap <%= "margin-bottom-80" unless @disable_top_margin %>">
  <div class="yellow-thin-stripe"></div>
  <div class="white-thin-stripe"></div>
  <div class="yellow-thin-stripe"></div>
</div>







