<%=  render "shared/banner" %>
<div class="banner-content">
  <h1>FlowCBD</h1>
</div>
  <%= link_to :anchor => "graphics" do %>
    <div class="tab">
      Flow CBD
    </div>
  <% end %>
</div>

<div class="container">
  <div class="graphics" id="graphics">
    <div class="card-graphics">
      <%= image_tag "legal.png", size: "160x160"%>
      <div class="how-it-works-text">
        <h3>100% Legal</h3>
        <p>CBD is legal and has been since 2016</p>
      </div>
    </div>
    <div class="card-graphics">
      <%= image_tag "plaster.png", size: "160x160" %>
      <div class="how-it-works-text">
        <h3>Health benefits</h3>
        <p>Widespread beneficial medicinal effects</p>
      </div>
    </div>
    <div class="card-graphics">
      <%= image_tag "002-medical.svg", size: "160x160" %>
      <div class="how-it-works-text">
        <h3>Browse here</h3>
        <p>Quick and simple search</p>
      </div>
    </div>
  </div>
</div>


  <div class="read-banner">
    <%#= link_to "Read more", class: "btn btn-primary btn-lg" %>
    <a class="btn btn-primary btn-lg read-more" href="/">
      Read More
    </a>
  </div>

<!-- Products -->
<div class="product">
  <div class="product-description">
    <div class="product-padding">
      <h2 class="home-title">Five flavors, five strengths.</h2>
      <div class="desc">
        <p>We offer a variety of flavors which are priced the same. </p>
        <p>Each flavor has a different essence.</p>
      </div>
    </div>
    <div class="form">
      <!-- Either we could nest routes cartitem inside cart. Or we could just ref a cartitem and pass cart as hidden -->
      <%= simple_form_for(@cart_item, {wrapper: :vertical_col}) do |f| %>
        <%= f.input :product_name, collection: Product.all.collect(&:name), selected: 1, label: false, class: "form-dropdown"%>
        <%= f.input :strength, collection: [100,200,300,400,500], selected: 1, label: false, class: "form-dropdown"%>
        <%= f.input :cart_id, input_html: { value: @cart.id }, as: :hidden %>
        <%= f.submit "Purchase", class: "btn btn-primary btn-lg" %>
      <% end %>
    </div>
  </div>
  <div class="image">
    <%= link_to products_path do %>
      <%= image_tag "floyd.jpg",height: "340px" %>
    <% end %>
  </div>
</div>
</div>

<div class="space"></div>

<!-- Image of george and dom -->
<div class="team">
  <div class="banner team" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.4) 100%, rgba(0,0,0,0.4) 100%), url(<%= image_url('domgeorge.jpg') %>);">
    <div class="cover left"></div>
    <div class="cover right"></div>
    <div class="banner-content">
      <h1 class="hidden-md hidden-sm hidden-xs" id="dom">The team</h1>
        <p id="left-p">Co-founders Dominic and George each have over 10 years experience in professional sport. Between them they have been under the surgeons knife 12 times and have played and trained through pain and injury more often than they would have liked.</p>
    </div>
    <div class="tab_bottom">
      Our Founders
    </div>
  </div>
</div>
<%= javascript_pack_tag "scroll" %>
