
  <%#= image_tag "placeholderbanner.jpg", class: "img-responsive" %>
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag "carousel-stripe.jpg"%>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <%= image_tag "carousel-stripe.jpg"%>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <%= image_tag "carousel-stripe.jpg"%>
      <div class="carousel-caption">
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<%# CAROUSEL %>
<div class="container">
  <div class="border-bottom">
    <h3 style="font-weight: bolder; text-align: center;">Our products</h3>
    <h5 class="lighter" style="text-align: center;">choose from our range of specialist cbd products</h5>
  </div>

<div class="row shorter-row">
    <% @products.each do |product| %>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="product-card">
          <div class="image-background">
            <%= link_to product_path(product) do %>
              <%= image_tag product.photo_url, width: "264px", height: "400px" if product.photo_url %>
            <% end %>
          </div>
          <div class="product-info">
            <span class="yellow-hover">
              <%= link_to product_path(product), class: "yellow-hover" do %>
                <h2><%= product.name.downcase %></h2>
              <% end %>
              <p class="lighter" style="font-size: 10px; margin-top: 0px;">
                <%= product.subtitle %>
              </p>
            </span>
            <%= link_to "Shop now", product_path(product), class: "simple-btn"%>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="thin-grey-line wider"></div>

  <div class="info-line">
    <h3>Your stories</h3>
    <h5>we asked our community to share their cbd experience</h5>
  </div>

  <div class="review-section">
    <% @reviews.each_with_index do |review, i| %>
      <div class="card-and-line">
        <div class="review-card">
          <%= cl_image_tag review.photo, class: "review-image-gap" if review.photo.present? %>
          <div class="review-text">
            <span class="yellow-hover">
              <h4><%= review.content %></h4>
              <p style="font-size: 15px"><%= review.name %></p>
            </span>
            <p id="position"><%= review.position %></p>
            <% if i == 0  %>
              <div id="accordion">
                <span class="yellow-hover">
                  <p id="more-info-toggle" class="accordion-toggle more-info-toggle-class lighter">More info...</p>
                </span>
                <div id="more-info" class="accordion-content default more-info-toggle-class lighter" style="font-size:12px; font-style:italic; display:none;">
                  Cras malesuada ultrices augue molestie risus. Cras.
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <% if i == 2 %>
          <div class="thin-grey-line wider" style="margin-top: 50px;"></div>
        <% else %>
          <div class="thin-grey-line yellow-background-hover"></div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="our-story">
    <h2 style="margin-bottom: -4%; font-weight: bolder; position: absolute; right: 50%; transform: translateX(50%)">Our story</h2>
  </div>
  <h5 class="lighter" style="text-align: center;">how fourfive cbd began</h5>
  <div class="flex"  style="justify-content: center">
    <div class="button-container bigger yellow-border-hover">
      <div class="master-quantity">
        <%= button_to education_path, class: "flex add-to-cart no-button" do %>
          <p id="buy-now" class="yellow-hover">Find out more</p>
        <% end %>
      </div>
    </div>
  </div>
  <%= image_tag "cartoon.jpg", height: 500, class: "center-block" %>
  <div class="stripes" style="height: 45px;">
    <div class="yellow-thin-stripe" id="over-image" style="width: 100vw; position: absolute; left: 50%; transform: translate(-50%, 0%);"></div>
    <div class="yellow-thin-stripe" id="over-image" style="width: 100vw; top: 25px; position: absolute; left: 50%; transform: translate(-50%, 0%);"></div>
  </div>

  <div class="info-line">
    <p>We use cbd as part of the daily routine in our professional rugby careers. We believe it helps us rest after training, recover between games and rise to perform at the highest level.
 </p>
    <p>Now we want to spread the word about the benefits of cbd, and as founders of fourfive, create the best products to help you rest, recover and rise.
 </p>
    <p id="founder">George Kruis & Dom Day</p>
    <div class="fat-yellow-stripe"></div>
  </div>
</div>

<div class="graphics" id="graphics">
  <h4 id="for-the-active">A cbd brand for an active lifestyle</h4>
    <div class="container">
    <div class="graphic-icons">
      <div class="card-graphics">
        <i class="fa fa-star-o fa-lg"></i>
        <div class="how-it-works-text">
          <p>cbd is legal and has been since 2016</p>
        </div>
      </div>
      <div class="card-graphics">
        <i class="fa fa-heart fa-lg"></i>
        <div class="how-it-works-text">
          <p>Widespread beneficial medicinal effects</p>
        </div>
      </div>
      <div class="card-graphics">
        <i class="fa fa-truck"></i>
        <div class="how-it-works-text">
          <p>Free delivery</p>
        </div>
      </div>
    </div>
  </div>
</div>

<%= content_for :after_js do %>
  <script type="text/javascript">
let getHeight = function(el) {
        let el_style      = window.getComputedStyle(el)
        let el_position   = el_style.position
        let el_display    = el_style.display
        let el_visibility = el_style.visibility
        let el_max_height = el_style.maxHeight.replace('px', '').replace('%', '')
        let  wanted_height = 0;

        // if its not hidden we just return normal height
        if(el_display !== 'none' && el_max_height !== '0') {
            return el.offsetHeight;
        }

        // the element is hidden so:
        // making the el block so we can meassure its height but still be hidden
        el.style.position   = 'absolute';
        el.style.visibility = 'hidden';
        el.style.display    = 'block';

        wanted_height     = el.offsetHeight;

        // reverting to the original values
        el.style.display    = el_display;
        el.style.position   = el_position;
        el.style.visibility = el_visibility;

        return wanted_height;
    },


    /**
    * toggleSlide mimics the jQuery version of slideDown and slideUp
    * all in one function comparing the max-heigth to 0
     */
    toggleSlide = function(el) {
        let el_max_height = 0;

        if(el.getAttribute('data-max-height')) {
            // we've already used this before, so everything is setup
            if(el.style.maxHeight.replace('px', '').replace('%', '') === '0') {
                el.style.maxHeight = el.getAttribute('data-max-height');
            } else {
                el.style.maxHeight = '0';
            }
        } else {
            el_max_height                  = getHeight(el) + 'px';
            el.style['transition']         = 'max-height 0.5s ease-in-out';
            el.style.overflowY             = 'hidden';
            el.style.maxHeight             = '0';
            el.setAttribute('data-max-height', el_max_height);
            el.style.display               = 'block';

            // we use setTimeout to modify maxHeight later than display (to we have the transition effect)
            setTimeout(function() {
                el.style.maxHeight = el_max_height;
            }, 10);
        }
    };

document.getElementById('more-info-toggle').addEventListener('click', function(e) {
    toggleSlide(document.querySelector('#more-info'));
}, false);
</script>

<% end %>

