
  <%#= image_tag "placeholderbanner.jpg", class: "img-responsive" %>
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag "placeholderbanner.jpg"%>
      <div class="carousel-caption">
        <%# ... %>
      </div>
    </div>
    <div class="item">
      <%= image_tag "placeholderbanner.jpg"%>
      <div class="carousel-caption">
        <%# ... %>
      </div>
    </div>
    <div class="item">
      <%= image_tag "placeholderbanner.jpg"%>
      <div class="carousel-caption">
        <%# ... %>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<%# CAROUSEL %>
<div class="container margin-top-100">

  <div class="tag-line" style="margin-top: -5%;">
    <h3>At fourfive we create specialised cbd products to help those who live an active life rest, recover and rise</h3>
  </div>

  <div class="border-bottom" style="margin-left: 20%;margin-right: 20%;">
    <h3 style="font-weight: bolder">Our products</h3>
  </div>

<div class="row shorter-row" style="margin-left: 200px; margin-right: 200px;">
    <% @products.each do |product| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="product-card">
          <div class="image-background">
            <%= link_to product_path(product) do %>
              <%= image_tag product.photo_url, width: "264px", height: "400px" if product.photo_url %>
            <% end %>
          </div>
          <div class="product-info">
            <%= link_to product_path(product) do %>
              <h2 class="yellow-hover"><%= product.name.downcase %></h2>
            <% end %>
            <p class="yellow-hover" style="font-size: 10px; margin-top: 0px; font-weight: lighter">
              <%= product.subtitle %>
            </p>
            <div class="button-container bigger">
              <div class="master-quantity">
                <%= button_to cart_items_path, params: {quantity: 1, cart_id: @cart.id, product_id: product.id}, class: "add-to-cart no-button" do %>
                  <p id="buy-now" class="yellow-hover">shop now</p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="thin-grey-line wider"></div>

  <div class="info-line">
    <h3>Friends from the world of sport share their stories</h3>
    <h5>We asked our community to share their experiences of cbd</h5>
  </div>

  <div class="review-section">
    <% @reviews.each_with_index do |review, i| %>
      <div class="card-and-line">
      <div class="review-card">
        <%= cl_image_tag review.photo, class: "review-image-gap" if review.photo.present? %>
        <div class="review-text">
          <span id="content-span"><h4 class="yellow-hover-p"><%= review.content %></h4></span>
          <span id="name-span"><p class="yellow-hover-p" style="font-size: 15px"><%= review.name %></p></span>
          <span id="position-span"><p class="yellow-hover-p" id="position"><%= review.position %></p></span>
        </div>
      </div>
      <% if i == 2 %>
        <div class="thin-grey-line wider" style="margin-top: 50px;"></div>
      <% else %>
        <div class="thin-grey-line yellow-hover"></div>
      <% end %>
      </div>
    <% end %>
  </div>

  <div class="our-story">
    <h2 style="margin-bottom: -4%; font-weight: bolder; position: absolute; right: 50%; transform: translateX(50%)">Our story</h2>
  </div>
<%# img-responsive %>
  <%= image_tag "cartoon.jpeg", height: 500, class: "center-block" %>
  <div class="stripes">
    <div class="yellow-thin-stripe"></div>
    <div class="white-thin-stripe"></div>
    <div class="yellow-thin-stripe"></div>
  </div>

  <div class="info-line">
    <p>We use cbd as part of the daily routine in our professional rugby careers. We believe it helps us rest after training, recover between games and rise to perform at the highest level.
 </p>
    <p>Now we want to spread the word about the benefits of cbd, and as founders of fourfive, create the best products to help you rest, recover and rise.
 </p>
    <p id="founder">George Kruis & Dom Day</p>
    <div class="fat-yellow-stripe"></div>
  </div>
</div>

<div class="graphics" id="graphics">
  <h4 id="for-the-active">A cbd brand for an active lifestyle</h4>
    <div class="container">
    <div class="graphic-icons">
      <div class="card-graphics">
        <i class="fa fa-star-o fa-lg"></i>
        <div class="how-it-works-text">
          <p>CBD is legal and has been since 2016</p>
        </div>
      </div>
      <div class="card-graphics">
        <i class="fa fa-star-o fa-lg"></i>
        <div class="how-it-works-text">
          <p>Widespread beneficial medicinal effects</p>
        </div>
      </div>
      <div class="card-graphics">
        <i class="fa fa-star-o fa-lg"></i>
        <div class="how-it-works-text">
          <p>Quick and simple search</p>
        </div>
      </div>
    </div>
  </div>
</div>

















<% if false %>
<div class="container">
  <div class="graphics" id="graphics">
    <h4>a cbd brand for an active lifestyle</h4>
    <div class="card-graphics">
      <%= image_tag "legal.png", size: "160x160"%>
      <div class="how-it-works-text">
        <h3>100% Legal</h3>
        <p>CBD is legal and has been since 2016</p>
      </div>
    </div>
    <div class="card-graphics">
      <%= image_tag "plaster.png", size: "160x160" %>
      <div class="how-it-works-text">
        <h3>Health benefits</h3>
        <p>Widespread beneficial medicinal effects</p>
      </div>
    </div>
    <div class="card-graphics">
      <%= image_tag "002-medical.svg", size: "160x160" %>
      <div class="how-it-works-text">
        <h3>Browse here</h3>
        <p>Quick and simple search</p>
      </div>
    </div>
  </div>
</div>


<% end %>
