<div class="banner-image">
  <%= image_tag "home_page.jpg", style: "width: 100vw;", alt: "Carousel-range", width: 1600, crop: :scale, quality: "auto:best", fetch_format: :auto, class: "hidden-xs" %>
  <%# <img class="hidden-xs" style="width: 100vw;" src="https://res.cloudinary.com/dq2kcu9ey/image/asset/c_scale,f_auto,w_1600,q_auto:best/home-banner-3e8c9dad427ea52cae252a199085f852" alt=""> %>
  <%# <img class="visible-xs-block" style="width: 100vw;" src="https://res.cloudinary.com/dq2kcu9ey/image/asset/c_scale,f_auto,w_1600,q_auto:best/home-banner-tall-6058cee016652550ee20c1e762a76c4c" alt=""> %>

   <%= image_tag "home-banner-tall.jpg", style: "width: 100vw", alt: "Carousel-range", width: 768, crop: :scale, quality: "auto:best", fetch_format: :auto, class: "visible-xs-block" %>
  <%= link_to "Shop now", product_path("cbd_oils"), class: "simple-btn", id: "banner-btn" %>
</div>

<div class="container">
  <div class="border-bottom" style="border: none !important">
    <h3 style="font-weight: bolder; text-align: center;">Our products</h3>
    <h5 class="lighter" style="text-align: center;">Choose from our range of specialist oils, balms and capsules.</h5>
  </div>

  <div class="row shorter-row">
    <% @product_groups.each do |group| %>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="product-card">
          <div class="image-background">
            <%= link_to product_path(group.products.first.name) do %>
            <% end %>
            <%= cl_image_tag group.photo, alt: group.products.first.readable_name, class: "default-photo", transformation: { quality: "auto:best",  width: 225, height: 300, crop: :scale, fetch_format: :auto } if group.photo_url %>
            <%= image_tag group.interactive_photo_slug, alt: "Interactive", width: 225, height: 300, crop: :scale, quality: :auto, fetch_format: :auto, class: "interactive-photo" %>
          </div>
          <div class="product-info">
              <%= link_to product_path(group.products.first.name), class: "yellow-hover" do %>
                <h2><%= group.readable_name %></h2>
              <% end %>
              <p class="lighter" style="font-size: 10px; margin-top: 0px;">
                <%= group.subtitle %>
              </p>
            <%= link_to "shop now", product_path(group.products.first.name), class: "simple-btn bold"%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<%#
  <div class="stripes" style="height: 45px; margin-top: 50px">
    <div class="yellow-thin-stripe" id="over-image" style="width: 100vw; position: absolute; left: 50%; transform: translate(-50%, 0%);"></div>
    <div class="yellow-thin-stripe" id="over-image" style="width: 100vw; top: 25px; position: absolute; left: 50%; transform: translate(-50%, 0%);"></div>
  </div> %>
<%# <div class="thin-grey-line wider"></div> %>

<% if false %>
  <div class="info-line">
    <h3>Your stories</h3>
    <h5>We asked you to share your cbd experiences.</h5>
  </div>

  <div class="row">
    <div class="col-xs-offset-1 col-xs-10">
      <div class="review-section">
        <div class="review-column">
          <% @reviews.each_with_index do |review, i| %>
            <div class="review-card" id=<%= "cancel-border" if i == 2 %>>
              <div class="review-content">
                <div class="review-image">
                  <%= cl_image_tag review.photo, alt: "review", class: "review-image" if review.photo.present? %>
                </div>
                <div class="review-text" data-toggle="collapse" data-target="#collapseExample<%= i %>" role="button" aria-expanded="false" aria-controls="collapseExample<%= i %>">
                  <h4><%= review.content %></h4>
                  <h5><%= review.name %></h5 style="margin-bottom: 3px;">
                  <p><%= review.position %></p>
                </div>
              </div>
              <div class="collapse" id="collapseExample<%= i %>">
                <div class="review-more-info">
                  <p><%= review.desc %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="thin-grey-line wider"></div>
<% end %>


  <div class="our-story" style="margin-bottom: 15px;">
    <h2>Our Story</h2>
    <h5>A little bit about us.</h5>
  </div>
  <div class="ajflex">
    <%= image_tag "the-boys-cartoon.jpg", alt: "dom-and-george-cartoon", crop: :scale, quality: "auto:best", fetch_format: :auto, height: 500, class: "homepage-cartoon" %>
  </div>


  <div class="info-line">
    <p> We use cbd as part of our daily routine in our rugby careers. It helps us maintain a healthy lifestyle throughout the highs and lows of professional sport.
 </p>
    <p>Now we want to spread the word about the benefits of cbd, and as founders of <span class="bold">fourfive</span>, we are committed to offering the highest grade cbd products available, specifically designed to help you maintain an active lifestyle.
 </p>
    <p id="founder">George Kruis & Dom Day</p>
    <%= link_to "Find out more", about_path, class: "simple-btn bold", style: "margin-top: 25px;" %>
  </div>
</div>

<%= image_tag "groupshot.jpg", alt: "Carousel", style: "width: 100vw;", width: 1600, crop: :scale, quality: "auto:best", fetch_format: :auto, class: "hidden-xs over-container" %>


<div class="graphics" id="graphics">
  <h4 id="for-the-active">The cbd brand helping you maintain an active lifestyle</h4>
    <div class="container">
    <div class="graphic-icons">
      <div class="card-graphics">
        <i class="fas fa-star fa-lg"></i>
        <div class="how-it-works-text">
          <p>Products to help you maintain an active lifestyle</p>
        </div>
      </div>
      <div class="card-graphics">
        <i class="fa fa-heart fa-lg"></i>
        <div class="how-it-works-text">
          <p>High-grade 100% natural cbd products</p>
        </div>
      </div>
      <div class="card-graphics">
        <i class="fa fa-truck"></i>
        <div class="how-it-works-text">
          <p>Free UK delivery on all orders over £50</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ajflex">
  <div class="press">
    <div class="press-item">
      <p style="margin-bottom: 0px;">As featured in...</p>
    </div>
    <div class="press-item">
      <%= link_to "https://www.thetimes.co.uk/article/how-hemp-can-help-athletes-not-harm-them-tmvf7tp2h", size: "126x24", class: "press-link", target: "_blank" do %>
        <%= image_tag "sunday_times_cropped.png",width: 126, crop: :scale, quality: :auto, fetch_format: :auto, alt: "the-sunday-times", id: "the-sunday-times" %>
      <% end %>
    </div>
    <div class="press-item">
      <%= link_to "https://www.bbc.co.uk/sport/rugby-union/46625302", size: "126x24",class: "press-link", target: "_blank" do %>
        <%= image_tag "bbc_sport_cropped.png", width: 126, crop: :scale, quality: :auto, fetch_format: :auto, alt: "bbc-sport", id: "bbc-sport" %>
      <% end %>
    </div>
    <div class="press-item">
      <%= link_to "https://www.dailymail.co.uk/sport/rugbyunion/article-6499931/THE-GAIN-LINE-Newcastle-desperate-earn-European-glory.html", size: "126x24",class: "press-link", target: "_blank" do %>
        <%= image_tag "daily_mail_cropped.png", width: 126, crop: :scale, quality: :auto, fetch_format: :auto, alt: "daily-mail", id: "daily-mail" %>
      <% end %>
    </div>
     <div class="press-item">
      <%= link_to "http://www.cityam.com/272386/england-lock-george-kruis-has-high-hopes-cannabis-oil", size: "126x24",class: "press-link", target: "_blank" do %>
        <%= image_tag "city-am-logo.jpg",  height: 17, crop: :scale, quality: :auto, fetch_format: :auto, alt: "city-am", id: "city-am" %>
      <% end %>
    </div>
  </div>
</div>
