<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,100,170,0.6) 0%, rgba(0,35,60,0.6) 50%), url(<%= image_url('home.jpg') %>);">
    <div class="banner-content">
      <h1>FlowCBD</h1>
        <a class="btn btn-primary btn-lg home" href="/">
          Home
        </a>
    </div>

  </div>
  <div class="tab">
    FlowCBD
  </div>
</div>
<% if false %>
<!-- Modal -->
<div class="modal fade" id="Modalid" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@user, :url => session_path(:user)) do |f| %>
          <div class="email-container">
            <%= f.text_field :email, :class =>"form-control",placeholder: "Email", value:"", error: "Please Try again", validate: { presence: true, uniqueness: false }%>
          </div>
          <div class="password-container">
            <%= f.password_field :password, :label =>"Password", :class =>"form-control", placeholder:"Password", value:"" %>
          </div>
          <%= f.submit 'Login', :class =>"form-control" %>
          <%= f.check_box :remember_me, label: "Remember me", value: "true" %>
          <%= f.label :remember_me %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<%= content_for :after_js do %>
  <script type="text/javascript">
    $(document).on('shown.bs.modal', '.modal', function() {
    $('form[data-client-side-validations]').enableClientSideValidations();
  });
  console.log("in afterjs")
</script>


<% end %>
<!-- first lets get none modal validations working -->
  <%= simple_form_for(@user, :url => session_path(:user)) do |f| %>
    <div class="email-container">
      <%= f.text_field :email, :class =>"form-control",placeholder: "Email", value:"", error: "Please Try again", validate: { presence: true, uniqueness: false }%>
    </div>
    <div class="password-container">
      <%= f.password_field :password, :label =>"Password", :class =>"form-control", placeholder:"Password", value:"" %>
    </div>
    <%= f.submit 'Login', :class =>"form-control" %>
    <%= f.check_box :remember_me, label: "Remember me", value: "true" %>
    <%= f.label :remember_me %>
  <% end %>



<% end %>


<div class="container">
<div class="graphics">
  <div class="card-graphics">
    <%= image_tag "legal.png", size: "160x160"%>
    <div class="how-it-works-text">
      <h3>100% Legal</h3>
      <p>CBD is legal and has been since 2016</p>
    </div>
  </div>
  <div class="card-graphics">
    <%= image_tag "plaster.png", size: "160x160" %>
    <div class="how-it-works-text">
      <h3>Health benefits</h3>
      <p>Widespread beneficial medicinal effects</p>
    </div>
  </div>
  <div class="card-graphics">
    <%= image_tag "002-medical.svg", size: "160x160" %>
    <div class="how-it-works-text">
      <h3>Browse here</h3>
      <p>Quick and simple search</p>
    </div>
  </div>
</div>
</div>

<!-- Products -->
<div class="product">
  <div class="product-description">
    <div>
      <h2 class="home-title">Five flavors, five strengths.</h2>
    </div>
    <div class="desc">
      <p>We offer a variety of flavors which are priced the same. </p>
      <p>Each flavor has a different essence.</p>
    </div>
    <div class="form">
      <%= simple_form_for(:cart) do |f| %>
        <%= f.submit "Purchase", class: "btn btn-primary btn-lg" %>
    
      <% end %>
    </div>
  </div>
  <div class="image">
    <%= link_to products_path do %>
      <%= image_tag "floyd.jpeg",height: "340px" %>
    <% end %>
  </div>  
</div>

<div class="space"></div>

<!-- Image of george and dom -->
<div class="team">
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,100,170,0.6) 0%, rgba(0,35,60,0.6) 50%), url(<%= image_url('domgeorge.jpg') %>);">
  <div class="cover left"></div>
  <div class="cover right"></div>
  <div class="banner-content">
    <h1 id="dom">Dom and George</h1>
      <p>Co-founders Dominic and George each have over 10 years experience in professional sport. </p>
      <p>Between them they have been under the surgeons knife 12 times and have played and trained through pain and injury more often than they would have liked.</p>
  </div>
  <div class="tab_bottom">
    Our Founders
  </div>
</div>
</div>

