<%# height: 350px; %>

<div class="container margin-top-100">
  <div class="tag-line">
    <h3>At fourfive we create specialised cbd products to help those who live an active life rest, recover and rise</h3>
  </div>

  <div class="border-bottom" style="margin-left: 5%;">
    <h3>Our range</h3>
  </div>

  <div class="row">
    <% @products.each do |product| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="product-card">
          <div class="image-background">
            <%= link_to product_path(product) do %>
              <%= image_tag product.photo_url, width: "264px", height: "400px" %>
            <% end %>
          </div>
          <div class="product-info">
            <h2><%= product.name.downcase %></h2>
            <h3 style="font-size: 14px; margin-top: 0px;">lorem Ipsum</h3>
            <div class="button-container bigger">
              <div class="master-quantity">
                <%= button_to cart_items_path, params: {quantity: 1, cart_id: @cart.id, product_id: product.id}, class: "add-to-cart no-button" do %>
                  <p id="buy-now">buy now</p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="thin-grey-line wider"></div>

  <div class="info-line">
    <h3>Friends from the world of sport share their stories</h3>
    <h5>We asked our community to share their experiences of cbd</h5>
  </div>

  <div class="review-section">
    <% @reviews.each_with_index do |review, i| %>
      <div class="review-card">
        <%= cl_image_tag review.photo, class: "review-image-gap" if review.photo.present? %>
        <div class="review-text">
          <h4><%= review.content %></h4>
          <p style="font-size: 15px"><%= review.name %></p>
          <p id="position"><%= review.position %></p>
        </div>
      </div>
      <% if i == 2 %>
        <div class="thin-grey-line wider" style="margin-top: 50px;"></div>
      <% else %>
        <div class="thin-grey-line"></div>
      <% end %>
    <% end %>
  </div>

  <div class="our-story">
    <h2 style="margin-bottom: -4%;">Our story</h2>
  </div>
<%# img-responsive %>
  <%= image_tag "cartoon.jpeg", height: 500, class: "center-block" %>
  <div class="stripes">
    <div class="yellow-thin-stripe"></div>
    <div class="white-thin-stripe"></div>
    <div class="yellow-thin-stripe"></div>
  </div>

  <div class="info-line">
    <p>As professional rugby players we use cbd as part of our daily routine. We believe it helps us rest after training, recover quicker between injuries and rise to compete at the highest level. </p>
    <p>Now we want to spread the word about the benefits of cbd and create the best products to help you rest, recover or rise. </p>
    <p id="founder">Dom & George</p>
    <div class="fat-yellow-stripe"></div>
    <p>Founders of fourfive</p>
  </div>
</div>

<div class="graphics" id="graphics">
  <h4 id="for-the-active">A cbd brand for the active</h4>
    <div class="container">
    <div class="graphic-icons">
      <div class="card-graphics">
        <i class="fa fa-star-o fa-lg"></i>
        <div class="how-it-works-text">
          <h3>100% Legal</h3>
          <p>CBD is legal and has been since 2016</p>
        </div>
      </div>
      <div class="card-graphics">
        <i class="fa fa-star-o fa-lg"></i>
        <div class="how-it-works-text">
          <h3>Health benefits</h3>
          <p>Widespread beneficial medicinal effects</p>
        </div>
      </div>
      <div class="card-graphics">
        <i class="fa fa-star-o fa-lg"></i>
        <div class="how-it-works-text">
          <h3>Browse here</h3>
          <p>Quick and simple search</p>
        </div>
      </div>
    </div>
  </div>
</div>

















<% if false %>
<div class="container">
  <div class="graphics" id="graphics">
    <h4>a cbd brand for the active</h4>
    <div class="card-graphics">
      <%= image_tag "legal.png", size: "160x160"%>
      <div class="how-it-works-text">
        <h3>100% Legal</h3>
        <p>CBD is legal and has been since 2016</p>
      </div>
    </div>
    <div class="card-graphics">
      <%= image_tag "plaster.png", size: "160x160" %>
      <div class="how-it-works-text">
        <h3>Health benefits</h3>
        <p>Widespread beneficial medicinal effects</p>
      </div>
    </div>
    <div class="card-graphics">
      <%= image_tag "002-medical.svg", size: "160x160" %>
      <div class="how-it-works-text">
        <h3>Browse here</h3>
        <p>Quick and simple search</p>
      </div>
    </div>
  </div>
</div>


<% end %>
