<!-- Styled form -->
<div class="container">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10">
      <h3 class="basket-header">Your <span class="bold">fourfive</span> basket</h3>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Product</th>
            <th>Product type</th>
            <th>Unit price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |item| %>
            <tr>
              <td class="yellow-box"><%= image_tag "checkout.png", alt: "checkout", size: "30" %></td>
              <td class="align-center"><%= item.product.product_group.readable_name %></td>
              <td class="align-right"><%= item.product.specific_name %></td>
              <td class="align-right"><%= item.product.price %></td>
              <td class="align-right">
                <div class="cart-flex">
                <%= button_to cart_item_path(item), method: :patch, params: {quantity: -1, cart_id: @cart.id, product_id: item.product.id} do %>
                  <i class="fas fa-minus"></i>
                <% end %>

                  <%= item.quantity %>
                  <%= button_to cart_item_path(item), method: :patch, params: {quantity: 1, cart_id: @cart.id, product_id: item.product.id} do %>
                    <i class="fas fa-plus"></i>
                  <% end %>

                </div>
              </td>
              <td class="align-right"><%= item.line_cost %></td>
              <td class="delete"><%= link_to "", cart_item_path(item), method: :delete, class: "fas fa-times-circle"%></td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="ft-border-bold">Total</td>
            <td class="ft-border-bold"><%= @cart.quantity %></td>
            <td class="ft-border-bold"><%= @cart.amount %></td>
          </tr>
        </tfoot>
      </table>
      <div class="cart-actions">
        <div class="cart-actions-left">
          <%= link_to "continue shopping", root_path, class: "simple-btn cart-button-margin"%>
        </div>
        <div class="cart-actions-right">
          <%= link_to "checkout", new_cart_payment_path(@cart), style: "color: white; background-color: rgb(40,40,40)", class: "simple-btn no-hover cart-button-margin" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-5 col-sm-6">
      <div class="qualifier">If you are not satisfied with your purchase you may return it for a refund within 30 days of purchase. Please use the following links to read our <%= link_to "terms and conditions", privacy_policy_path %>.</div>
    </div>
  </div>
</div>

  <%= javascript_pack_tag "bold.js", text: ".text" %>
<%= content_for :after_js do %>
<% end %>
