<div class="space"></div>
<% if false %>
  <%= link_to root_path, class: "navbar-hdn-brand logo" do %>
    <%= image_tag "logo_white.svg", height: 50 %>
  <% end %>
<% end %>
<% if Rails.env.development? %>
  <script src=<%="https://test.oppwa.com/v1/paymentWidgets.js?checkoutId=#{@checkout_id}"%> ></script>
<% else %>
  <script src=<%="https://oppwa.com/v1/paymentWidgets.js?checkoutId=#{@checkout_id}"%> ></script>
<% end %>
  <form action=<%= "#{success_cart_payments_url(@cart)}" %> class="paymentWidgets" data-brands="VISA VISADEBIT MASTER MASTERDEBIT"></form>
<div class="space"></div>
<p style="text-align:center">Something not working? Please email tech@fourfivecbd.co.uk</p>
