<div class="container">

  <div class="cart-form">
    <%= simple_form_for :checkout, url: checkout_cart_payments_path do |f| %>
      <%= f.input :first_name, required: true %>
      <%= f.input :last_name, required: true %>
      <%= f.input :first_line,  label: "First line", required: true %>
      <%= f.input :second_line, required: false, label: "Second line" %>
      <%= f.input :city, required: true, label: "City" %>
      <%= f.input :postcode, required: true, label: "Postcode" %>
      <%#= f.input :phone_number, required: true, label: "Phone number" %>
      <%= f.input :email, required: true, label: "Email" %>
      <%= f.input :coupon, required: false, label: "Coupon" %>
      <%= f.submit "Purchase", class: "btn btn-lg btn-danger" %>
    <% end %>
  </div>

</div>
