<div class="container">
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10">
      <h1>Shipping Details</h1>
    </div>
  </div>
  <div class="cart-form">
    <%= simple_form_for :checkout, url: checkout_cart_payments_path do |f| %>
      <div class="row section-break">
        <div class="col-xs-offset-1 col-xs-10 col-sm-4">
          <%= f.input :first_name, required: true %>
        </div>
        <div class="col-xs-offset-1 col-xs-10 col-sm-4">
          <%= f.input :last_name, required: true %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-sm-4">
          <%= f.input :first_line,  label: "Address", placeholder: "First line", required: true %>

        </div>
        <div class="col-xs-offset-1 col-xs-10 col-sm-4">
          <%= f.input :second_line, required: false, label: "(Optional)", placeholder: "Second line" %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-sm-4">
          <%= f.input :third_line, required: false, label: "(Optional)", placeholder: "Third line" %>
        </div>
        <div class="col-xs-offset-1 col-xs-10 col-sm-4">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-sm-4">
          <%= f.input :city, required: true, label: "City" %>
        </div>
        <div class="col-xs-offset-1 col-xs-10 col-sm-4">
          <%= f.input :postcode, required: true, label: "Postcode" %>
        </div>
      </div>
      <div class="row section-break">
        <div class="col-xs-offset-1 col-xs-10 col-sm-4">
          <%= f.label :country %>
          <%= f.country_select :country, priority_countries = [], options = {}, html_options = {label: "country", :class => "form-control", :id => "country-select"} %>
        </div>
      </div>
      <div class="row section-break">
        <div class="col-xs-offset-1 col-xs-10 col-sm-4">
          <%= f.input :email, required: true, label: "Email", required: true %>
        </div>
        <div class="col-xs-offset-1 col-xs-10 col-sm-4">
          <%= f.input :phone_number, required: true, label: "Phone number" %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-sm-4">
          <%= f.input :coupon, required: false, label: "Coupon" %>
        </div>
      </div>
      <div class="ajflex">
          <%= f.submit "Purchase", class: "simple-btn", id: "shipping-btn" %>
      </div>
    <% end %>
  </div>

</div>
