<div class="container">
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10">
      <h2>Shipping Details</h2>
    </div>
  </div>
  <div class="cart-form">
    <%= simple_form_for :checkout, url: checkout_cart_payments_path do |f| %>
      <div class="row section-break">
        <div class="col-xs-offset-1 col-xs-10 col-sm-4">
          <%= f.input :first_name, required: true %>
        </div>
        <div class="col-xs-offset-1 col-xs-10 col-sm-4">
          <%= f.input :last_name, required: true %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-sm-4">
          <%= f.input :first_line,  label: "Address", placeholder: "First line", required: true %>

        </div>
        <div class="col-xs-offset-1 col-xs-10 col-sm-4">
          <%= f.input :second_line, required: false, label: "(Optional)", placeholder: "Second line" %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-sm-4">
          <%= f.input :third_line, required: false, label: "(Optional)", placeholder: "Third line" %>
        </div>
        <div class="col-xs-offset-1 col-xs-10 col-sm-4">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-sm-4">
          <%= f.input :city, required: true, label: "City" %>
        </div>
        <div class="col-xs-offset-1 col-xs-10 col-sm-4">
          <%= f.input :postcode, required: true, label: "Postcode" %>
        </div>
      </div>
      <% if false %>
      <div class="row section-break">
        <div class="col-xs-offset-1 col-xs-10 col-sm-4">
          <%= f.label :country %>
          <%= f.country_select :country, priority_countries = [], options = {}, html_options = {label: "country", :class => "form-control", :id => "country-select"} %>
        </div>
      </div>
      <% end %>
      <div class="row section-break">
        <div class="col-xs-offset-1 col-xs-10 col-sm-4">
          <%= f.input :email, required: true, label: "Email", required: true %>
        </div>
        <div class="col-xs-offset-1 col-xs-10 col-sm-4">
          <%= f.input :phone_number, required: true, label: "Phone number (Optional)" %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-sm-4">
          <%= f.input :coupon, required: false, label: "Coupon (Optional)" %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-4">
          <h4>Shipping Options</h4>
            <div class="shipping-options">
              <div class="top-left">
                <i class="fas fa-truck"></i>
              </div>
              <div class="contents">
                <p class="space-beneath"><strong>FREE SHIPPING ON ORDERS OVER 50.00 GBP</strong></p>
                <% if @cart.amount.to_i > 25 %>
                  <p><strong>You qualify for free shipping!</strong></p>
                <% else %>
                  <p>Just add <strong>£<%= number_with_precision(@discount, precision: 2) %> more</strong> to your cart to qualify</p>
                <% end %>
              </div>
            </div>
          <%=  %>
        </div>
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-4">
          <h4>Terms and Conditions</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
          <div class="flex shipping-buttons">
              <%= link_to "Back to cart", :back, class: "simple-btn" %>
              <%= f.submit "Purchase", class: "simple-btn", id: "shipping-btn" %>
          </div>
        </div>
      </div>
      <div class="space"></div>
    <% end %>
  </div>
</div>

<style>
  label{
    font-size: 15px;
  }
</style>
