<%=  render "shared/banner" %>
  <%= image_tag "leftline.png", class: "left-line" %>
  <div class="banner-content-flex">
    <h1>Your Shopping cart</h1>
  </div>
  <%= image_tag "rline.png", class: "right-line" %>
  <div class="tab">
    Shopping cart
  </div>
</div>

<div id="pay">
	<div>
		<% @cart_items.each do |cart_item| %>
    <div class="product-card">
      <div class="top">
        <%= image_tag "floyd.jpeg"%>
      </div>
      <div class="bottom">
        <%= cart_item.strength.strength %>
        <%= cart_item.product.name %>
        <%= cart_item.price %>
      </div>
    </div>
		<% end %>
	</div>
</div>

<div class="space grey"></div>

<h2>Order Details</h2>
<%= simple_form_for @address %>
  
<%= end %>
