<div class="container">
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10">
      <h2>Shipping Details</h2>
    </div>
  </div>
  <div class="cart-form">
    <%= simple_form_for :checkout, url: checkout_cart_payments_path do |f| %>
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-sm-4">
          <%= f.input :email, type: :email, required: true, label: "Email" %>
          <%= f.input :salutation, collection:  ["Mr", "Mrs", "Ms", "Miss"], prompt: "Please select" %>
          <%= f.input :first_name, pattern: ".{2,}",  required: true %>
          <%= f.input :last_name, pattern: ".{2,}", required: true %>
          <%= f.input :phone_number, required: true, label: "Phone number" %>
        </div>
        <div class="col-xs-offset-1 col-xs-10 col-sm-4">
          <%= f.input :first_line,  label: "Address", placeholder: "First line", required: true %>
          <%= f.input :second_line, required: false, label: "(Optional)", placeholder: "Second line" %>
          <%= f.input :third_line, required: false, label: "(Optional)", placeholder: "Third line" %>
          <%= f.input :city, required: true, label: "City" %>
          <%= f.input :country, collection: @countries, selected: @countries.first %>
          <%= f.input :postcode, required: false, label: "Postcode" %>

          <div class="terms">
            <p><strong>Terms and conditions</strong></p>
            <span>I agree:</span><input type="checkbox" required id="terms" style="margin-left: 10px;"><br>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
          <div class="flex shipping-buttons">
              <%= link_to "Back to cart", :back, class: "simple-btn" %>
              <%= f.submit "Purchase", class: "simple-btn", id: "shipping-btn" %>
          </div>
        </div>
      </div>
      <div class="space"></div>
    <% end %>
  </div>
</div>

<style>
  label{
    font-size: 15px;
  }
</style>
