<div class="container">
<% if false %>
  <div class="cart-card">
    <div class="left">
      <i class="fa fa-shopping-cart fa-5x"></i>
      <div class="vertical-line" style="border-left: thick solid #ff0000;">
        <div class="cart-contents">
          <% @cart_items.each do |cart_item| %>
            <div class="cart-item-card">
              <%= cart_item.product.name %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div id="pay">
    <div class="flex">
      <% @cart_items.each do |cart_item| %>
      <div class="product-card">
        <div class="top">
          <%= image_tag "floyd.jpeg"%>
        </div>
        <div class="bottom">
          <div class="bottom-bar">
            <%= cart_item.product.name %>
            <%= cart_item.product.price %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
    <% end %>
</div>

<!-- Styled form -->
<div class="container">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10">
      <h3 class="basket-header">your <span class="bold">fourfive</span> basket</h3>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th>Product</th>
            <th>Price</th>
            <th>Qty</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |item| %>
            <tr>
              <td class="yellow-box"></td>
              <td class="align-center"><%= image_tag item.product.photo_url, height: "30px" %></td>
              <td class="align-center"><%= item.product.name %></td>
              <td class="align-right"><%= item.product.price %></td>
              <td class="align-right"><%= item.quantity %></td>
              <td class="align-right"><%= item.line_cost %></td>
              <td class="delete"><%= link_to "", "#", class: "fas fa-times-circle"%></td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="ft-border-bold">Total</td>
            <td class="ft-border-bold"><%= @cart.quantity %></td>
            <td class="ft-border-bold"><%= @cart.amount %></td>
          </tr>
        </tfoot>
      </table>
      <div class="cart-actions">
        <div class="cart-actions-left">

        </div>
        <div class="cart-actions-right">
          <%= button_to "UPDATE BASKET" "#", class: "flex add-to-cart no-button yellow-hover"%>
          <%= button_to "CHECKOUT", "#", class: "flex add-to-cart no-button yellow-hover"%>
        </div>
      </div>

      <div class="purchase">
        <%= link_to "Purchase", confirm_cart_payments_path, class: "btn btn-lg btn-primary"%>
      </div>
    </div>
  </div>
</div>
