<%=  render "shared/banner" %>
  <div class="banner-content-flex">
    <div class="big-l-line"></div>
    <h1>Pay Below</h1>
    <div class="big-r-line"></div>
  </div>
  <%= link_to :anchor => "Pay" do %>
    <div class="tab">
      Pay here
    </div>
  <% end %>
</div>


<div id="pay">
	<ul>
		<% @cart_items.each do |cart_item| %>
			<li>You are buying <%= cartitem.quantity %> of <%= cartitem.flavor %> </li>
		<% end %>
	</ul>
</div>
  <script src=<%="https://test.oppwa.com/v1/paymentWidgets.js?checkoutId=#{@checkoutId}"%> ></script>

  <form action=<%= "#{root_url}" %> class="paymentWidgets" data-brands="VISA VISADEBIT MASTER MASTERDEBIT"></form>
