<div class="container">
<% if false %>
  <div class="cart-card">
    <div class="left">
      <i class="fa fa-shopping-cart fa-5x"></i>
      <div class="vertical-line" style="border-left: thick solid #ff0000;">
        <div class="cart-contents">
          <% @cart_items.each do |cart_item| %>
            <div class="cart-item-card">
              <%= cart_item.product.name %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div id="pay">
    <div class="flex">
      <% @cart_items.each do |cart_item| %>
      <div class="product-card">
        <div class="top">
          <%= image_tag "floyd.jpeg"%>
        </div>
        <div class="bottom">
          <div class="bottom-bar">
            <%= cart_item.product.name %>
            <%= cart_item.product.price %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
    <% end %>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Order Details</h3>
      <div class="cart-form">
        <%= simple_form_for :checkout, url: checkout_cart_payments_path do |f| %>
          <%= f.input :first_line,  label: "First line", required: true %>
          <%= f.input :second_line, required: false, label: "Second line" %>
          <%= f.input :city, required: true, label: "City" %>
          <%= f.input :postcode, required: true, label: "Postcode" %>
          <%#= f.input :phone_number, required: true, label: "Phone number" %>
          <%= f.input :email, required: true, label: "Email", required: true %>
          <%= f.input :coupon, required: false, label: "Coupon" %>

      </div>
    </div>
    <div class="col-sm-8">
      <div class="summary">
        <div class="flex-column names">
          <h4>Product Name</h4>
          <% @cart_items.each do |cart_item| %>
            <p>
              <%= cart_item.product.name %>
            </p>
          <% end %>
        </div>
        <div class="flex-column price">
          <h4>Price per unit</h4>
          <% @cart_items.each do |cart_item| %>
            <p>
              <%= cart_item.product.price %>
            </p>
          <% end %>
        </div>
        <div class="flex-column quantity">
          <h4>Quantity</h4>
          <% @cart_items.each do |cart_item| %>
            <p>
              <%= cart_item.product.name %>
            </p>
          <% end %>
        </div>
        <div class="flex-column total">
          <h4>Product Name</h4>
          <% @cart_items.each do |cart_item| %>
            <p>
              <%= cart_item.product.price %>
            </p>
          <% end %>
        </div>
      </div>
      <div class="purchase">
        <%= f.submit "Purchase", class: "btn btn-lg btn-danger" %>
        <% end %>
        <%#= link_to "Purchase", checkout_cart_payments_path, class: "btn btn-lg btn-danger"%>
      </div>
    </div>
  </div>
</div>
