<div class="container">
<% if false %>
  <div class="cart-card">
    <div class="left">
      <i class="fa fa-shopping-cart fa-5x"></i>
      <div class="vertical-line" style="border-left: thick solid #ff0000;">
        <div class="cart-contents">
          <% @cart_items.each do |cart_item| %>
            <div class="cart-item-card">
              <%= cart_item.product.name %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div id="pay">
    <div class="flex">
      <% @cart_items.each do |cart_item| %>
      <div class="product-card">
        <div class="top">
          <%= image_tag "floyd.jpeg"%>
        </div>
        <div class="bottom">
          <div class="bottom-bar">
            <%= cart_item.product.name %>
            <%= cart_item.product.price %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
    <% end %>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8">
     <h3>your <span class="bold">fourfive</span> basket</h3>
      <div>
        HEADER
      </div>
      <div class="summary">

        <% @cart_items.each do |item| %>
            <div class="yellow-box">
            </div>
            <div class="checkout-box ajflex">
              <%= item.product.name %>
            </div>
            <div class="checkout-box ajflex">
              <%= item.product.price %>
            </div>
            <div class="checkout-box ajflex">
              <%= item.quantity %>
            </div>
            <div class="checkout-box ajflex">
              <%= item.line_cost %>
            </div>
        <% end %>
      </div>
      <div class="purchase">
        <%= link_to "Purchase", confirm_cart_payments_path, class: "btn btn-lg btn-primary"%>
      </div>
    </div>
  </div>
</div>
