<%=  render "shared/banner" %>
  <%= image_tag "leftline.png", class: "left-line" %>
  <div class="banner-content">
    <h1>Our New Collection</h1>
  </div>
    <%= image_tag "rline.png", class: "right-line" %>
  <%= link_to :anchor => "products" do %>
    <div class="tab">
      FlowCBD
    </div>
  <% end %>
</div>

<div class="container" id="products">
  <% @products.each do |product| %>
    <div class="product-index">
      <div class="product">
        <%= image_tag product.photo_url, width: "500px", height: "500px" %>
      </div>
      <div class="product-right">
        <div class="desc">
          <h2><%= product.name %></h2>
          <p><%= product.description %></p>
        </div>
        <div class="product-form">
          <%= simple_form_for(@cart_item, {wrapper: :vertical_col}) do |f| %>
            <%= f.input :product_name, collection: Product.all.collect(&:name), selected: 1, label: false, class: "form-dropdown"%>
            <%= f.input :strength, collection: product.strengths.collect(&:strength), selected: 1, label: false, class: "form-dropdown"%>
            <%= f.input :cart_id, input_html: { value: @cart.id }, as: :hidden %>
            <%= f.submit "Purchase", class: "btn btn-primary btn-lg" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="space"></div>
