<div class="container" style="margin-bottom: 70px;">
  <div class="row">
    <div class="col-sm-12 col-md-5">
      <%= cl_image_tag(@product.photo_url, class: "image-responsive", id: "product-photo", style: "max-width: 60%; margin-left: 25%;") %>
      <h5 style="font-weight: lighter; margin-left: 25%;" id="product-name"><%= @specific_product %></h5>
    </div>
    <div class="col-md-2"></div>
    <div class="col-sm-12 col-md-5">
      <h2 class="border-bottom" id="product-name" style="font-size: 20px; padding-bottom: 10px;"><%= @product.readable_name %></h2>
      <div class="product-info">
        <div class="text lighter" style="margin-bottom:50px; font-size: 15px; margin-right:13%; text-align:justify">
          <p><%= @product.description %></p>
          <p>
            Containing Coconut Oil, Shea Butter, Theobroma Cacao, Grape Seed Oil, Rosemary and Cannabis Sativa L.
          </p>
          <p>Size: 300mg / 0.11 oz</p>
        </div>
      </div>
      <% if @product.balm? %>
        <div class="selections">
          <div class="selection">
            <div class="field">
              <div id="size"><%= @sizes.first %></div>
              <i class="fas fa-caret-down"></i>
            </div>
            <div class="drop-down" style="display: none;">
              <% @sizes.each do |size| %>
                <div class="drop-down-item"><%= size %></div>
              <% end %>
            </div>
          </div>
        </div>
      <% elsif @product.oil? %>
        <div class="selections">
          <div class="selection">
            <div class="field">
              <div id="tincture"><%= @tinctures.first %></div>
              <i class="fas fa-caret-down"></i>
            </div>
            <div class="drop-down" style="display: none;">
              <% @tinctures.each do |tincture| %>
                <div class="drop-down-item"><%= tincture %></div>
              <% end %>
            </div>
          </div>
          <div class="selection">
            <div class="field">
              <div id="size"><%= @sizes.first %></div>
              <i class="fas fa-caret-down"></i>
            </div>
            <div class="drop-down" style="display: none;">
              <% @sizes.each do |size| %>
                <div class="drop-down-item"><%= size %></div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="all-btn-container show">
        <div class="button-container">
          <div class="master-quantity">
            <button class="cart-button no-button" id="less">-</button>
            <p id="quantity">1</p>
            <button class="cart-button no-button" id="more">+</button>
          </div>
        </div>
        <div class="button-container bigger yellow-border-hover">
          <div class="master-quantity">
            <% if @product.oil? %>
             <%= button_to cart_items_path, params: { quantity: 1, cart_id: @cart.id, size: @sizes.first, tincture: @tinctures.first, product_id: @product.id}, id: "buy-with-dropdown", class: "flex  add-to-cart no-button" do %>
                <p id="pad-right">Buy now</p>
                <div class="vertical-line"></div>
                <p id="pound">£</p>
                <p id="price"><%= humanized_money @price %></p>
              <% end %>
            <% elsif @product.balm? %>
             <%= button_to cart_items_path, params: { quantity: 1, cart_id: @cart.id, size: @sizes.first, product_id: @product.id}, id: "buy-with-dropdown", class: "flex  add-to-cart no-button" do %>
                <p id="pad-right">Buy now</p>
                <div class="vertical-line"></div>
                <p id="pound">£</p>
                <p id="price"><%= humanized_money @price %></p>
              <% end %>
            <% else %>
              <%= button_to cart_items_path, params: { quantity: 1, cart_id: @cart.id, product_id: @product.id}, id: "buy-with-dropdown", class: "flex  add-to-cart no-button" do %>
                <p id="pad-right">Buy now</p>
                <div class="vertical-line"></div>
                <p id="pound">£</p>
                <p id="price"><%= humanized_money @price %></p>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="more-info">
      <div class="col-xs-12 col-sm-6">
        <h3>What is it?</h3>
        <p>A cosmetic balm product for skin care.</p>
        <h3>How do I use it?</h3>
        <% @product.product_group.how_to_use.split("\n").each do |para| %>
          <p><%= para %></p>
        <% end %>
        <h3>What is it good for?</h3>
        <% @help.each_with_index do |help, i| %>
          <% unless i == 0 %>
            <i class="fas fa-circle"></i>
          <% end %>
          <span class="text-lighter"><%= help %></span>
        <% end %>
        <h3>What’s in it?</h3>
        <% @ingr.each_with_index do |ingr, i| %>
          <% unless i == 0 %>
            <i class="fas fa-circle"></i>
          <% end %>
          <span class="text-lighter"><%= ingr %></span>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-offset-1 col-sm-5">
        <div class="image-margin">
          <div class="icon-card">
            <%= image_tag "icons/natural.png", size: '90' %>
            <p>Natural</p>
          </div>
          <div class="icon-card">
            <%= image_tag "icons/co2.png", size: '90' %>
            <p>Extracted by CO<sub>2</sub></p>
          </div>
          <div class="icon-card">
            <%= image_tag "icons/no-chemicals-yellow.png", size: '90' %>
            <p>Herbicide Free</p>
          </div>
          <div class="icon-card">
            <%= image_tag "icons/lab.png", size: '90' %>
            <p>Lab Tested</p>
          </div>
          <div class="icon-card">
            <%= image_tag "icons/vegetarian.png", size: '90' %>
            <p>Natural</p>
          </div>
          <div class="icon-card">
            <%= image_tag "icons/vegan.png", size: '90' %>
            <p>Natural</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<% content_for :after_js do %>
  <%= javascript_pack_tag('drop_down') %>
<% end %>

<%= javascript_pack_tag('product_show') %>
