
<div class="container" style="margin-bottom: 70px;">
  <div class="row">
    <div class="col-sm-12 col-md-5">
      <%= cl_image_tag(@product.photo_url, class: "image-responsive", style: "max-width: 60%; margin-left: 25%;") %>
    </div>
    <div class="col-md-2"></div>
    <div class="col-sm-12 col-md-5">
      <h2 class="border-bottom" style="font-size: 20px; padding-bottom: 10px;"><%= @product.name %></h2>
      <div class="product-info">
        <div class="text lighter" style="margin-bottom:50px; font-size: 15px; margin-right:13%; text-align:justify">
          <p>
            A hand-blended and hard-working balm that protects your skin. As your skin it the largest working organ, we’ve created a soothing, safe and natural application for it. Made with organic ingredients so it’s kind to all skin types.
            </p>
            <p>
            Containing Coconut Oil, Shea Butter, Theobroma Cacao, Grape Seed Oil, Rosemaryand Cannabis Sativa L.
          </p>
          <p>Size: 300mg / 0.11 oz</p>
        </div>
      </div>
      <div class="all-btn-container show">
        <div class="button-container">
          <div class="master-quantity">
            <button class="cart-button no-button" id="less">-</button>
            <p id="quantity">1</p>
            <button class="cart-button no-button" id="more">+</button>
          </div>
        </div>
        <div class="button-container bigger yellow-border-hover">
          <div class="master-quantity">
            <%= button_to cart_items_path, params: {quantity: 1, cart_id: @cart.id, product_id: @product.id}, class: "flex  add-to-cart no-button" do %>
              <p id="pad-right">Buy now</p>
              <div class="vertical-line"></div>
              <p id="pound">£</p>
              <p id="price"><%= @price %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="icon-banner lighter">
    <div class="column" style="padding-right: 100px;">
      <h3 style="margin-top: 10px;">What is it?</h3>
      <p>A cosmetic balm product for skin care.</p>

      <h3>How do I use it?</h3>
        <% @product.how_to_use.split("\n").each do |para| %>
          <p><%= para %></p>
        <% end %>
      <h3>What is it good for?</h3>
      <div class="flex">
        <div class="column">
          <% @help.each_with_index do |help, i| %>
            <p><%= help %></p>
            <% if i == @help_count %>
              </div><div class="column">
            <% end %>
          <% end %>
        </div>
      </div>
      <h3>What’s in it?</h3>
      <div class="flex">
        <div class="column">
          <% @ingr.each_with_index do |ingr, i| %>
            <p><%= ingr %></p>
            <% if i == @ingr_count %>
              </div><div class="column">
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="column flex">
      <div class="sub-column">
        <div class="icon-card">
          <%= image_tag "icons/natural.png", size: '90' %>
          <p>Natural</p>
        </div>
        <div class="icon-card">
          <%= image_tag "icons/co2.png", size: '90' %>
          <p>Extracted by Co2</p>
        </div>
        <div class="icon-card">
          <%= image_tag "icons/no-chemicals-yellow.png", size: '90' %>
          <p>Herbicide Free</p>
        </div>
      </div>
      <div class="sub-column">
        <div class="icon-card">
          <%= image_tag "icons/lab.png", size: '90' %>
          <p>Lab Tested</p>
        </div>
        <div class="icon-card">
          <%= image_tag "icons/vegetarian.png", size: '90' %>
          <p>Natural</p>
        </div>
        <div class="icon-card">
          <%= image_tag "icons/vegan.png", size: '90' %>
          <p>Natural</p>
        </div>
      </div>
    </div>
  </div>
</div>

<% if false %>
          <%= simple_form_for(@cart_item, {wrapper: :vertical_col}) do |f| %>
          <%= f.input :quantity, collection: 1..9, selected: 1, label: false, class: "form-dropdown"%>
          <%= f.hidden_field :product_id, value: @product.id %>
      </div>
      <div class="product-info">
        <span><p>Strength</p></span>
          <%= f.input :strength, collection: 1..5, selected: 1, label: false%>
      </div>
      <div class="product-submit">
          <%= f.submit "Buy now", class: "btn btn-primary" %>
        <% end %>

<% end %>




<script>
// a script to update quantity bought.
  const price = Number.parseInt("<%= @product.price.to_i %>")
  const lessButton = document.querySelector('#less')
  const buyButton = document.querySelector('.button_to')
  let quantityParam = buyButton.getElementsByTagName("input")[3]

  lessButton.addEventListener("click", (e) => {
    console.log("click")
    let quantity = document.querySelector('#quantity')
    let number = Number.parseInt(quantity.innerText)
    if (number > 1){
      quantity.innerHTML = number - 1
      quantityParam.value = number - 1
    }
    const amount = document.querySelector('#price')
    amount.innerHTML = price * (number - 1)

  })

  const moreButton = document.querySelector('#more')
  moreButton.addEventListener("click", (e) => {
    console.log("click")
    let quantity = document.querySelector('#quantity')
    let number = Number.parseInt(quantity.innerText)
    quantity.innerHTML = number + 1
    quantityParam.value = number + 1
    let amount = document.querySelector('#price')
    amount.innerHTML = price * quantity.innerHTML
  })
</script>
