<% content_for :meta_title, "#{@product.specific_name} | #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @product.subtitle %>
<%# content_for :meta_image, cl_image_path(@offer.photo.path) %>


<div class="container" style="margin-bottom: 70px;">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10 col-md-5 col-xs-12">
      <div>
        <%= cl_image_tag(@product.photo_url, class: "image-responsive", id: "product-photo") %>
        <h5 id="product-name"><%= @specific_product %></h5>
      </div>
    </div>
    <div class="col-sm-offset-1 col-sm-10 col-md-5 col-xs-12">
      <h2 class="border-bottom" id="product-name" style="font-size: 25px; margin-top: 0px; padding-bottom: 10px;"><%= @product.readable_name %></h2>
      <div class="mobile-stack">
        <span>
          <div class="product-info">
            <div class="text lighter" style="margin-bottom:25px; font-size: 15px">
              <p><%= @product.product_group.description %></p>
              <% if @product.oil? %>
                <p>Size: 30ml</p>
              <% elsif @product.capsules? %>
                <p>Contains 100 capsules.</p>
              <% end %>
            </div>
          </div>
        </span>
        <span>
          <% if @product.balm? %>
            <div class="selections">
              <%= render "shared/selection", selections: @sizes, string: "size" %>
            </div>
          <% elsif @product.oil? %>
            <div class="selections">
              <%= render "shared/selection", selections: @tinctures, string: "tincture" %>
              <%= render "shared/selection", selections: @sizes, string: "size" %>
            </div>
          <% end %>
          <div class="all-btn-container show">
            <div class="button-container">
              <div class="master-quantity">
                <button class="cart-button no-button" id="less">-</button>
                <p id="quantity">1</p>
                <button class="cart-button no-button" id="more">+</button>
              </div>
            </div>
            <div class="button-container bigger yellow-border-hover">
              <div class="master-quantity">
                <% if @product.oil? %>
                  <%= render "shared/button", price: @price, q: 1, size: "500mg", tincture: @tinctures.first, product_id: @product.id %>
                <% elsif @product.balm? %>
                  <%= render "shared/button", price: @price, q: 1, size: "Small", tincture: nil, product_id: @product.id %>
                <% else %>
                <%= render "shared/button", price: @price, q: 1, size: nil, tincture: nil, product_id: @product.id %>
                <% end %>
              </div>
            </div>
          </div>
        </span>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>

  <div class="row">
    <div class="more-info">
      <div class="col-sm-offset-1 col-xs-12 col-sm-5">
        <h3 style="margin-top: 0px;">What is it?</h3>
        <p><%= @product.product_group.subtitle %></p>
        <h3>How to use it?</h3>
        <% @product.how_to_use_text do |para| %>
          <p><%= para %></p>
        <% end %>
        <h3>The ingredients</h3>
        <div class="flex" style="flex-direction:column">
        <% @ingr.each do |ingr| %>
          <span>
            <i class="fas fa-circle"></i>
          <span class="text-lighter" style="padding-left: 5px"><%= ingr %></span>
          </span>
        <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-5">
        <div class="image-margin">
          <div class="icon-card">
            <%= image_tag "icons/natural.png", size: '70' %>
            <p>100% Natural</p>
          </div>
          <div class="icon-card">
            <%= image_tag "icons/co2.png", size: '70' %>
            <p>CO<sub>2</sub> Extraction </p>
          </div>
          <div class="icon-card">
            <%= image_tag "icons/no-chemicals.png", size: '70' %>
            <p>Herbicide & Pesticide Free</p>
          </div>
          <div class="icon-card">
            <%= image_tag "icons/lab.png", size: '70' %>
            <p>3<sup>rd</sup> Party Lab Tested</p>
          </div>
          <div class="icon-card">
            <%= cl_image_tag "images/icons/co2.png", size: '70' %>
            <p>Vegetarian friendly</p>
          </div>
          <div class="icon-card">
            <%= image_tag "icons/vegan.png", size: '70' %>
            <p>Vegan friendly</p>
          </div>
        </div>
      </div>
      <div class="col-sm-1"></div>
    </div>
  </div>

</div>

<% content_for :after_js do %>
  <%= javascript_pack_tag('drop_down') %>
<% end %>

