
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-5">
      <%= cl_image_tag(@product.photo_url, class: "image-responsive") %>
    </div>
    <div class="col-md-2"></div>
    <div class="col-sm-12 col-md-5">
      <h1><%= @product.name %></h1>
      <p>Some awesome description of our amazing product.</p>
      <div class="product-info">
        <span><p>Amount: </p></span>
        <p><span>£<%= humanized_money(@product.price) %></span></p>
      </div>
      <div class="button-container">
        <div class="master-quantity">
          <button class="cart-button no-button" id="less">-</button>
          <p id="quantity">1</p>
          <button class="cart-button no-button" id="more">+</button>
        </div>
      </div>
      <div class="button-container bigger">
        <div class="master-quantity">
          <%= button_to cart_items_path, params: {quantity: 1, cart_id: @cart.id, product_id: @product.id}, class: "add-to-cart no-button" do %>
          <%# <button class="add-to-cart no-button"> %>
            <p id="buy-now">Buy now</p>
            <div class="vertical-line"></div>
            <p id="pound">£</p>
            <p id="price"><%= @product.price.to_i %></p>
          <%# </button> %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% if false %>
          <%= simple_form_for(@cart_item, {wrapper: :vertical_col}) do |f| %>
          <%= f.input :quantity, collection: 1..9, selected: 1, label: false, class: "form-dropdown"%>
          <%= f.hidden_field :product_id, value: @product.id %>
      </div>
      <div class="product-info">
        <span><p>Strength</p></span>
          <%= f.input :strength, collection: 1..5, selected: 1, label: false%>
      </div>
      <div class="product-submit">
          <%= f.submit "Buy now", class: "btn btn-primary" %>
        <% end %>

<% end %>
<script>
// a script to update quantity bought.
  const price = Number.parseInt("<%= @product.price.to_i %>")
  const lessButton = document.querySelector('#less')
  const buyButton = document.querySelector('.button_to')
  let quantityParam = buyButton.getElementsByTagName("input")[3]

  lessButton.addEventListener("click", (e) => {
    console.log("click")
    let quantity = document.querySelector('#quantity')
    let number = Number.parseInt(quantity.innerText)
    if (number > 1){
      quantity.innerHTML = number - 1
      quantityParam.value = number - 1
    }
    const amount = document.querySelector('#price')
    amount.innerHTML = price * (number - 1)

  })

  const moreButton = document.querySelector('#more')
  moreButton.addEventListener("click", (e) => {
    console.log("click")
    let quantity = document.querySelector('#quantity')
    let number = Number.parseInt(quantity.innerText)
    quantity.innerHTML = number + 1
    quantityParam.value = number + 1
    let amount = document.querySelector('#price')
    amount.innerHTML = price * quantity.innerHTML
  })



</script>
