<div class="container" style="margin-bottom: 70px;">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-sm-12 col-md-5">
      <div>
      <%= cl_image_tag(@product.photo_url, class: "image-responsive", id: "product-photo") %>
      <h5 style="font-weight: lighter; text-align: center; margin-right: 25%;" id="product-name"><%= @specific_product %></h5>
      </div>
    </div>
    <div class="col-sm-12 col-md-5">
      <h2 class="border-bottom" id="product-name" style="font-size: 25px; margin-top: 0px; padding-bottom: 10px;"><%= @product.readable_name %></h2>
      <div class="product-info">
        <div class="text lighter" style="margin-bottom:25px; font-size: 15px">
          <p><%= @product.product_group.description %></p>
          <% if @product.oil? %>
            <p>Size: 30ml</p>
          <% elsif @product.capsules? %>
            <p>Contains 100 capsules.</p>
          <% end %>
        </div>
      </div>
      <% if @product.balm? %>
        <div class="selections">
          <div class="selection">
          <p style="font-weight:lighter">Select your size</p>
            <div class="field">
              <div id="size" class="ajflex"><p><%= @sizes.first %></p></div>
              <i class="fas fa-caret-down"></i>
            </div>
            <div class="drop-down" style="display: none;">
              <% @sizes.each do |size| %>
                <div class="drop-down-item"><p><%= size %></p></div>
              <% end %>
            </div>
          </div>
        </div>
      <% elsif @product.oil? %>
        <div class="selections">
          <div class="selection">
            <p style="font-weight:lighter">Select your flavour</p>
            <div class="field">
              <div id="tincture" class="ajflex"><p><%= @tinctures.first %></p></div>
              <i class="fas fa-caret-down"></i>
            </div>
            <div class="drop-down" style="display: none;">
              <% @tinctures.each do |tincture| %>
                <div class="drop-down-item"><p><%= tincture %></p></div>
              <% end %>
            </div>
          </div>
          <div class="selection">
          <p style="font-weight:lighter">Select your strength</p>
            <div class="field">
              <div id="size" class="ajflex"><p><%= @sizes.first %></p></div>
              <i class="fas fa-caret-down"></i>
            </div>
            <div class="drop-down" style="display: none;">
              <% @sizes.each do |size| %>
                <div class="drop-down-item"><p><%= size %></p></div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="all-btn-container show">
        <div class="button-container">
          <div class="master-quantity">
            <button class="cart-button no-button" id="less">-</button>
            <p id="quantity">1</p>
            <button class="cart-button no-button" id="more">+</button>
          </div>
        </div>
        <div class="button-container bigger yellow-border-hover">
          <div class="master-quantity">
            <% if @product.oil? %>
             <%= button_to cart_items_path, params: { quantity: 1, cart_id: @cart.id, size: "500mg", tincture: @tinctures.first, product_id: @product.id}, id: "buy-with-dropdown", class: "flex  add-to-cart no-button" do %>
                <p id="pad-right">Buy now</p>
                <div class="vertical-line"></div>
                <p id="pound">£</p>
                <p id="price"><%= humanized_money @price %></p>
              <% end %>
            <% elsif @product.balm? %>
             <%= button_to cart_items_path, params: { quantity: 1, cart_id: @cart.id, size: "Small", product_id: @product.id}, id: "buy-with-dropdown", class: "flex  add-to-cart no-button" do %>
                <p id="pad-right">Buy now</p>
                <div class="vertical-line"></div>
                <p id="pound">£</p>
                <p id="price"><%= humanized_money @price %></p>
              <% end %>
            <% else %>
              <%= button_to cart_items_path, params: { quantity: 1, cart_id: @cart.id, product_id: @product.id}, id: "buy-with-dropdown", class: "flex  add-to-cart no-button" do %>
                <p id="pad-right">Buy now</p>
                <div class="vertical-line"></div>
                <p id="pound">£</p>
                <p id="price"><%= humanized_money @price %></p>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>

  <div class="row">
    <div class="more-info">
    <div class="col-md-1"></div>
      <div class="col-xs-12 col-sm-5">
        <h3 style="margin-top: 0px;">What is it?</h3>
        <p><%= @product.product_group.subtitle %></p>
        <h3>How to use it?</h3>
        <% @product.product_group.how_to_use.split("\n").each do |para| %>
          <p><%= para %></p>
        <% end %>
        <h3>The ingredients</h3>
        <div class="flex" style="flex-direction:column">
        <% @ingr.each_with_index do |ingr, i| %>
          <span>
            <i class="fas fa-circle"></i>
          <span class="text-lighter" style="padding-left: 5px"><%= ingr %></span>
          </span>
        <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-5">
        <div class="image-margin">
          <div class="icon-card">
            <%= image_tag "icons/natural.png", size: '70' %>
            <p>100% Natural</p>
          </div>
          <div class="icon-card">
            <%= image_tag "icons/co2.png", size: '70' %>
            <p>Extracted by CO<sub>2</sub></p>
          </div>
          <div class="icon-card">
            <%= image_tag "icons/no-chemicals.png", size: '70' %>
            <p>Herbicide & Pesticide Free</p>
          </div>
          <div class="icon-card">
            <%= image_tag "icons/lab.png", size: '70' %>
            <p>Lab Tested</p>
          </div>
          <div class="icon-card">
            <%= image_tag "icons/vegetarian.png", size: '70' %>
            <p>Vegetarian friendly</p>
          </div>
          <div class="icon-card">
            <%= image_tag "icons/vegan.png", size: '70' %>
            <p>Vegan friendly</p>
          </div>
        </div>
      </div>
      <div class="col-sm-1"></div>
    </div>
  </div>

</div>

<% content_for :after_js do %>
  <%= javascript_pack_tag('drop_down') %>
<% end %>

