<%=  render "shared/banner" %>
  <%= image_tag "leftline.png", class: "left-line" %>
  <div class="banner-content-flex">
    <h1>Testimonials</h1>
  </div>
  <%= image_tag "rline.png", class: "right-line" %>
  <div class="tab">
    Read more
  </div>
</div>


<div class="container">
  <div class="row">
	  <% @reviews.each do |review| %>
      <div class="col-md-4">
        <div class="review-card">
          <div class="header">
            <div class="image-div">
              <% if review.user.photo.url.nil? %>
                <%= image_tag "https://picsum.photos/100/100" %>
              <% else %>
              <%= image_tag "george.png", class: "avatar" %>
              <% end %>
            </div>
            <p><%= review.user.full_name %></p>
          </div>
          <div class="body">
            <div class="rating">
              <% review.rating.times do %>
                <i class="fa fa-star-o fa-lg"></i>
              <% end %>
            </div>
            <%= review.content %>
          </div>
        </div>
      </div>
	  <% end %>
  </div>
</div>

<div class="space"></div>
