<%=  render "shared/banner" %>
  <%= image_tag "leftline.png", class: "left-line" %>
  <div class="banner-content-flex">
    <h1>Testimonials</h1>
  </div>
  <%= image_tag "rline.png", class: "right-line" %>
  <div class="tab">
    Read more
  </div>
</div>


<div class="container">
  <div class="row">
	  <%= @review.each do |review| %>
      <div class="card">
        <div class="header">
          <%#= image_tag @review.user.photo %>
          <%#= review.user.name %>
        </div>
        <div class="content">
          <%= review.content %>
        </div>
      </div>
	  <% end %>
  </div>
</div>